data/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.env
.env.test
*.xlsx
*.xlsx
*.zip
*.log
tests
logs.csv
LogsAnalysis.md
Equity_AdditionalInfo.pdf
API_RequestResponse_Equity.pdf
CompanyFundamental_DataFeedAPI_Display_Techdoc.pdf