.env.*
CompanyFundamental_API_Frequency.txt
CompanyFundamental_API_Frequency.xlsx
data
__pycache__
.env 
x.md
tests
logs.csv
LogsAnalysis.md
Equity_AdditionalInfo.pdf
API_RequestResponse_Equity.pdf
CompanyFundamental_DataFeedAPI_Display_Techdoc.pdf